@inherits LayoutComponentBase

<div class="page">
   <!-- <div class="sidebar">
        <NavMenu /> 
     </div>-->

    <main>
        <div class="top-row px-4" style="color: black; background-color: gainsboro;">
            <span class="header-text"><h2>Sharp Samvadini</h2></span>
            
            <button class="custom-button" onclick="openNewPage()">Mock Interview</button>
            <button class="custom-button" onclick="openNewPage1()">Interview</button>
            <button class="custom-button" onclick="openNewPage2()">About</button>

            <style>
                .custom-button {
                    background-color: #8cbed6; /* Green */
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px;
                }

                    .custom-button:hover {
                        background-color: #45a049;
                    }
            </style>

            <script>
                function openNewPage1() {
                    window.open("https://localhost:7145/Interview", "_blank"); // Replace with the URL of the page you want to open
                }
                function openNewPage() {
                    window.open("/Mock_Interview", "_blank");
                }
                function openNewPage2() {
                    window.open("https://learn.microsoft.com/aspnet/core/", "_blank");
                }
            </script>
            

        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
