<div class="side-bar-main-content">
    <div class="icon-logo">
        <div class="image-icon">
            <img src="icon.png" alt="C# Corner" />
        </div>
    </div>

    <div class="accordian-custom mt-5">
        <div class="accordian-item-custom">
            <h2 class="accordion-header">
                <button class="accordion-button-custom" type="button">
                    Updates
                </button>
            </h2>
        </div>

        <div class="accordian-item-custom">
            <h2 class="accordion-header">
                <button class="accordion-button-custom" type="button">
                    What's comming next?
                </button>
            </h2>
        </div>

         <div class="accordian-item-custom">
            <h2 class="accordion-header">
                <button class="accordion-button-custom" type="button">
                    Why did I encounter errors when I tried to talk to the AI Samvadini??
                </button>
            </h2>
        </div>

        <div class="accordian-item-custom">
            <h2 class="accordion-header">
                <button class="accordion-button-custom" type="button">
                    Why did I encounter errors when I tried to upload my resume?
                </button>
            </h2>
        </div>

    </div>

 </div>

@code {

}
