@page "/"

<div class="page-container">
<!--  <img src=""icon.png"" alt="C# icon">
      <link rel="img" type="image/png" href="icon.png" /> -->

    <h2>Greeting...</h2>
    <p>Welcome to Sharp Samvadini! Sharp Samvadini is your personal interviewer powered by generative AI that conducts interview.</p>

    <div class="info-box">
        <h4>Interview Guideline</h4>
        <p>
            In this interview, the Sharp Samvadini will review your resume and discuss your past experiences.
            <br />Note: Try to give clear answers in minimum words!
        </p>
        <ul>
            <li>Please choose any one mode of the interview i.e Mock Interview or Interview.</li>
            <li>Don't refresh the page while giving the Interview'</li>
            <li>Please upload your resume before starting the interview.</li>
            <li>Each interview will take around 15 mins.</li>
            <li>Do not refresh the page during the interview.</li>
            <li>Choose your favorite interaction style (chat/voice).</li>
            <li>Start introducing yourself and enjoy!</li>
        </ul>
    </div>

    <!-- <button @onclick="StartInterview">Start Interview!</button> -->
</div>

@code {
    private void StartInterview()
    {
        // Navigate to Interview Page or start Interview logic.
        // NavigationManager.NavigateTo("/interview");
    }
}
