@page "/"

<div class="page-container">
    <div class="heading-left">
        <div class="home-page-content">
            <div class="logo-image">
                <img src="../favicon.png" class="favicon" alt="C# Corner" />
            </div>
            <div class="heading">
                <h2 class="main-text">AI Samvadini <span class="sub-text">C# Corner</span></h2>
            </div>
        </div>

        <div class="text">
            <p id="namaste">Namaskaram 🙏</p>
            <p>
                Welcome to AI Samvadini! 👏 AI Samvadini is your persnal interviewer powered by Generative AI that conducts interview.
                You can upload your resume and enter job profile, and AI Samvadini will ask you customized questions.</p>
        </div>

        <div class="interview-guidelines">
            <h2>Interview Guidelines</h2>
            <p>📚In this Interview, the AI Samvadini will review your resume and discuss your past experiences.<br />
            Note: Try to give clear answer in minimum words!</p>

            <ul>
                <li>Each Interview will take arount 15 mins.</li>
                <li>Do not refresh the page during the interview.</li>
                <li>Choose your favourite Interaction style Chat/Voice</li>
                <li>Start introduce yourself and enjot!.</li>
            </ul>
        </div>
    </div>

</div>

@code {
}
