@page "/Mock_Interview"

<div class="page-container1">
    <p>In this module, The Sharp Samvadini will take your an interview to give you a real experience of Interview and practicing. </p>

    <div class="info-box2">
        <h4> Mock Interview Guideline</h4>
        <p>
            In this mock interview, the Sharp Samvadini will review your resume and discuss your past experiences.
            <br />Note: Try to give clear answers in minimum words!
        </p>
        <ul>
            <li>Please upload your resume before starting the interview.</li>
            <li>Each interview will take around 15 mins.</li>
            <li>Do not refresh the page during the interview.</li>
            <li>Choose your favorite interaction style (chat/voice).</li>
            <li>Start introducing yourself and enjoy!</li>
        </ul>
    </div>

     <button @onclick="StartInterview1">Start Interview!</button> 
</div>
@code {
    private void StartInterview1()
    {
        // Navigate to Interview Page or start Interview logic.
        // NavigationManager.NavigateTo("/interview");
    }
}
